{% load static %}
{% load dynamic_tables %}


{% if is_paginated %}
    {% render_load_more_btn %}


    <script type="text/javascript" src="{% static 'dynamic_tables/parse_tag.js' %}" ></script>


    <script>
        // Function to create a table row
        function create_table_row(item){
            var tds = '';
            var td;
{% for col in table.columns %}
    {% if col.tag %}
            td = parse_tag("{{ col.safe_tag }}", item);
            td = td.replaceAll("{"+"{item}"+"}", item["str"]);
            td = td.replaceAll("{"+"{cell}"+"}", item['{{ col.name }}']);
            td = td.replaceAll("{"+"{row_idx}"+"}", item['row_idx']);
    {% else %}
            if(typeof item['{{ col.name }}'] !== "undefined" ){
                td = "<td>" + item['{{ col.name }}'] + "</td>";
            } else {
                td = "<td></td>";
            }
    {% endif %}
            tds += td; // Add to items in the row
{% endfor %}
            return '<tr class="{{ table.row_class_names }}" style="{{ table.row_style }}">' + tds + '</tr>';
        }


        $(document).ready(function() {
            var base_page_url = "?page=";
{% if base_page_url %}
            base_page_url = "{{ base_page_url }}";
{% endif %}
            var page = {{ page_obj.number }} + 1;
            var total = {% if page_obj.paginator.num_pages %}{{ page_obj.paginator.num_pages }}{% else %}0{% endif %};

            // Load More Data Error Function (This can be overridden
            if (typeof load_more_data_error === 'undefined'){
                function load_more_data_error(xhr, status, errorThrown) {
                    console.log(xhr, status, errorThrown);
                }
            }

            // Load More Data Success Function (This can be overridden)
            if (typeof load_more_data === 'undefined'){
                function load_more_data(json) {
                    // Get the list of new table rows
                    var obj = json["{{ context_ajax_name }}"];

                    // Loop through new table rows
                    $("#{{ table.table_id }}").append(
                        $.map(obj, function(name, index){
                            return create_table_row(obj[index]);
                        })
                    );
                }
            }


            $("#load_more_btn").on("click", function(e){
                e.preventDefault();

                $.ajax({
                    type: "get",
                    url: base_page_url + page.toString(),
                    dataType: "json",
                    success: function (json) {
                        load_more_data(json);

                        page = page + 1;
                        if(page >= total + 1){
                            $("#load_more_btn")[0].style.display = "none";
                        }
                    },
                    error: load_more_data_error
                });
            })
        });
    </script>
{% endif %}
